@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

@media (min-width: 1250px) {
  html, body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainContainer {
  margin: 6vw;
}

@media (min-width: 1250px) {
  .mainContainer {
    max-width: 900px;
    margin: 25px 2.7vw 2.7vw 2.7vw;
  }
}

.searchBar {
  width: 100%;
  margin-bottom: 6vw;
  height: 15vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBar .setting {
  height: 90%;
}

.searchBar .setBtn {
  height: 100%;
  width: 15vw;
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchBar .setBtn img {
  opacity: .7;
  height: 60%;
}

.searchBar .srcBtn {
  position: absolute;
  right: 14vw;
  height: 100%;
  border: none;
  background: none;
}

.searchBar .srcBtn img {
  opacity: .7;
  height: 55%;
}

.searchBar .srcBtn .setting {
  right: 20vw;
  height: 45%;
  border: none;
  background: none;
}

@media (min-width: 1250px) {
  .searchBar {
    cursor: pointer;
    width: 100%;
    height: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .searchBar .setting {
    height: 90%;
  }
  .searchBar .setBtn {
    height: 100%;
    width: 6vw;
    border: none;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .searchBar .setBtn img {
    opacity: .7;
    height: 60%;
  }
  .searchBar .srcBtn {
    position: absolute;
    right: 6vw;
    height: 100%;
    border: none;
    background: none;
  }
  .searchBar .srcBtn img {
    opacity: .7;
    height: 55%;
  }
  .searchBar .srcBtn .setting {
    right: 20vw;
    height: 45%;
    border: none;
    background: none;
  }
}

.searchInput {
  height: 100%;
  width: 100%;
  border: none;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
  position: relative;
  font-weight: 700;
  font-size: 30px;
  padding: 0 20px;
}
/*# sourceMappingURL=App.css.map */